:root {
  --white-color: #ffffff;
  --secondary-color: #2C3E50;
  --black-color: #000000;
  --header-bg: #F74242;
  --thumbnail-footer-bg: #424242;
  --theme-red: #E45826;
  --theme-aqua: #38CFEA;
  --theme-golden: #F0A500;
  --theme-purple: #BC6FF1;
  --theme-green: #00917C;
  --theme-green2: #FF75A0;
  --fb: #3B5998;
  --twitter: #00ACEE;
  --google: #EA4335;
  --linkedin: #0077b5;
  --github: #4078c0;
  --instagram: #8a3ab9;
  /* --primary-color:#424242;
  --brand-color: #D32F2F;
  --brand-text-color: #e0e0e0;
  --menu-active-color: #424242;
  --divider-color:#757575 */
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  height: 50vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";

}

.theme_dark_mode {}

.theme_default {
  background: var(--theme-golden) !important
}

.theme_aqua {
  background: var(--theme-aqua) !important
}

.theme_red {
  background: var(--theme-red) !important
}

.theme_purple {
  background: var(--theme-purple) !important
}

.theme_green {
  background: var(--theme-green) !important
}

.theme_green2 {
  background: var(--theme-green2) !important
}

.opacity_default {
  opacity: 1;
}

.opacity_light {
  opacity: 0.1
}

/* Remove arrows from input type number box
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}