
.brand{
    width:auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    flex-flow:row wrap;
    grid-area:brand; 
    color:var(--secondary-color);
}

.brand>span{
    padding:0.5rem;
    color:var(--secondary-color);
}


@media screen and (max-width:1318px){
   .brand{
    font-size: 0.5rem;
   }
}