.contact{
 
}

.modal {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999999;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
    display: grid;
  }
  
  .modal:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal_close {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color:var(--secondary-color);
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5px;
  }
  
  .modal_close:hover {
    background: #ffffff;
    color: #e53935
  }
  
  .modal_content {
    width: 40%;
    height:auto;
    position: relative;
    margin: 10% auto;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }

  .contact_heading{
    color:var(--secondary-color)
  }

  .contact_inputs{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
  }
  .contact_inputs>input{
      width: 50%;
      padding:1rem;
      margin:0.5rem;
  }
  .contact_action>button{
    width: 300px;
    border-radius:0;
    padding:1rem;
    margin:2rem;
    font-size:1.2rem;
    background:var(--secondary-color)
  }
 .social_connect{
     margin-bottom: 5%;
 }
  .social_connect>a{
     padding:1rem;
     
  }
