.filter {
    
}

.filter_select {
    outline: 0;
    box-shadow: none;
    border: 0;
    background: #2c3e50;
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    height: 3.2rem;
    overflow: hidden;
    border-radius: .25em;
}
.filter_select>option{
    color:white;
    line-height: 20;
    min-height: 20rem;
    padding:20rem;
}