.login {
  display: flex;
  align-items: center;
  grid-area: login;
  justify-content: flex-end;
}

.login>a>button {
  width: 6.25rem;
  border-radius: 0;
  padding: 0.5rem;
  font-size: 1rem;
  background: var(--secondary-color);
}
.login>a>button:hover{
  color:var(--secondary-color)
}

/*code copied from https://codepen.io/Lightislands/pen/XdYYgb?editors=1100 */

.modal {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
  display: grid;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal_close {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color:var(--secondary-color);
  line-height: 25px;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 0;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  padding-top: 5px;
}

.modal_close:hover {
  background: #ffffff;
  color: #e53935
}

.modal_content {
  width: 25%;
  height:500px;
  position: relative;
  margin: 6% auto;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

fieldset{
  border:2px solid white;
  border-radius: 6px;
}
legend{
  /* font-weight: bold; */
  font-family:sans-serif;
}
.login_panel{
  width: 100%;
  display: flex;
  flex-flow:column wrap;
  align-items: center;
  justify-content: center;
  gap:10%;
}
.login_panel>input{
  width: 250px;
  padding:2rem;
  margin:0.5rem;
  font-size:1.5rem;
}
.login_panel>input::placeholder{
  font-size:1.5rem;
}
.login_panel>span>label{
  color:var(--secondary-color);
  padding:1rem;
}
.login_panel>span>a{
  /* color:red; */
  font-weight: bold;
  color:var(--black-color)
}


.login_panel>a>button{
  margin:5% 0;
  max-width: 100%;
  width:300px;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0;
  background: var(--secondary-color);
}
.login_panel>a>button:hover{

  color: var(--secondary-color);
}
.login_panel>a{
 font-weight: bold;
  margin-top:1rem;
  color:var(--black-color)
}

/*OTP Modal */
.otpInput>input{
  width: 250px;
  padding:2rem;
  margin:0.5rem;
  font-size:1.5rem;
}
.otpInput>input::placeholder{
  font-size:1.5rem;
}

.modal_content_otp {
  width: 25%;
  height:auto;
  position: relative;
  margin: 15% auto;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  padding:1rem;
}

.otp_actions>a>button{
  margin:5% 0;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0;
  background: var(--secondary-color);
}

.otp_actions>a>button:hover{

  color: var(--secondary-color);
}

.otp_actions>button{
  margin:5% 0;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0;
  background: var(--secondary-color);
}

.otp_actions>button:hover{

  color: var(--secondary-color);
}


