.navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    grid-area: navbar
}

.nav_ul {
    list-style: none;
}

.nav_ul>li {
    display: inline;
    padding: 0 1.2rem;
}

.nav_ul>li>a {
    font-size: 1.5rem;
    color:var(--secondary-color);
    font-weight: 800;
}

.nav_ul>li>a:hover {
    border-bottom: 2px solid var(--white-color);
    color: var(--white-color);
    font-weight: bold;
}

.active{
    color: var(--white-color) !important;
    font-weight: bold; 
}