.player_footer_main {
    width: 60%;
    background: var(--thumbnail-footer-bg);
    display: grid;
    grid-template-areas:
        "tags"
        "description"
        "view_time"
        "footer_bar";
}

.tags,
.description,
.view_time {
    padding: 2rem;
    color: var(--white-color);
}

.tags {
    grid-area: tags;
}

.tags>span {
    font-size: 2rem;
}

.tags>p {
    text-align: justify;
    font-size: 1.2rem;
}

.description {
    grid-area: description;
}

.description,.view_time{
    font-size: 1.5rem
}

.description>img {
    width: 20px;
}

.view_time {
    grid-area: view_time;
}

.footer_bar_ul {
    list-style: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    padding: 0;
}

.nav_items {
    display: grid;
}

.nav_items>img {
    width: 2rem;
    justify-self: center
}

.nav_items>span {
    display: block;
    color: var(--white-color);
    font-size: 1rem;
    text-align: center;
    align-self: center;
    padding-top: 0.5rem;
}
.nav_items>span>a {
    text-decoration: none;
    color: var(--white-color);
}