.thumbnail{
 padding:0.1rem;

}
.thumbnail>.video_thumbnail>img {
  width: 400px;
}

.video_thumbnail {
  display: inline-block;
  cursor: pointer;
  
}
.thumbnail::-webkit-scrollbar {
  display: none;
  }
